*,body{font-family:"CenturyGothic";}
@font-face{
	font-family: 'CenturyGothic';
	font-weight: normal;
	font-style: normal;
	src: url('../public/font/Century-Gothic/CenturyGothic.eot');
	src: url('../public/font/Century-Gothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
	url('../public/font/Century-Gothic/CenturyGothic.woff') format('woff'),
	url('../public/font/Century-Gothic/CenturyGothic.ttf') format('truetype'),
	url('../public/font/Century-Gothic/CenturyGothic.svg#CenturyGothic') format('svg');
}
ul{margin: 0;padding: 0;}
body{padding-top: 56px;}
.clear{float: none;clear: both;}


.amaz_lrslid{
	clear: both;
	float: left;
	width: 45%;
}
.amaz_lfslid{
	float: left;
	width: 50%;
	margin-left: 0px;
	display: inline;
	padding-left: 20px;}
.amanz_imbox{
	float: left;
	border:none;
}
.amaz_datimg{
	float: left;
	border:none;
}
.sery_im li{
	margin-right: 17px;
	margin-left: 20px;
}
.gods_head{
	font-size: 22px;
	margin: 0px 0px 40px;
	border-bottom: 1px #ccc dashed;
	padding-bottom: 30px;
}
.amaz_bufhead{
	text-align: center;
	padding-top: 20px;
}

.product_price{
	padding: 20px 0px 30px 0px;
}
.amz_buy_city{
	margin-bottom: 170px;
	margin-top: 40px;
}
.amaz_bufhead{
	padding-bottom: 20px;
	margin-bottom: 0px;
}
.amaz_datbox{
	padding: 20px 0px 0px; 
}
.amaz_lim{
	width: 441px;
}
.amaz_bufhead.Product{
	width: 100%;
	height: auto;
}
.amaz_bufhead.Features{
	width: 52%;
	float: left;
	padding-left: 3%;
}
.amaz_bufhead.info{
	margin-bottom:20px;
	width: 40%;
	float: left;
	padding-left: 3%;
}
.amaz_bufhead.info p,.amaz_bufhead.Features p{
	text-align: center;
	border-bottom: 1px dashed #dfdfdf;
	padding-bottom: 5px;
	color: #666;
	font-size: 16px;
}
.attribute_head.amaz_txt.spe{
    width: 35%;
	float: left;
	font-weight: bold;
    color: #7f7f7f;
    text-align: left;
}
.attribute_end.amaz_txt.spe{
    width: 60%;
	float: left;
	text-align: left;
	line-height: 2;
    padding-top: 4px;
}

.attribute_head.amaz_txt.feat{
	width: auto;
	margin-right: 4px;
}
.pro_spe{
	width: 100%;
	margin: 0 auto;
	padding-left: 3%;
}
.Features.title{
	float: left;
	font-weight: bold;
    color: #7f7f7f;
    text-align: left;
}
.Features.con{
	float: left;
	text-align: left;
	line-height: 2;
    padding-top: 4px;
}
.buy-button{
	border-radius: 4px;
	box-shadow: 0 3px 0 #149190;
	/*transition: .2s;*/
	overflow: auto;
	color: #fff;
	background-color:#00a98d;
	width: 90%;
	text-align: center;
	display:inline-block;clear:both;
}
.buy-button:hover{border: none;
	background-image: none;
	background-color: #19c2a6;
	color: #fff;
	width: 90%;
	border:none;
}
.btn_box_buylink a, .btn_box_buylink a:hover{
	padding: 8px 18px 8px 18px;
}
.btn_box_buylink a{
	padding: 8px 18px 8px 18px;
}
.btn_box_buylink a:focus{
	color: #fff;
}
.sign_box{
	margin: 8% auto;
	width: 60%;
}
.amaz_lim{
	width: 100%;
}
.amaz_datimg img{
	width: 100%;
}

.attribute_head{
	font-weight: bold;
	color: #7f7f7f;
}
.tour-preview{
	margin-left: 13px;

    margin-top: 14px;
}


@media only screen and (max-width: 1016px){
	 .amaz_auto .amaz_lrslid{width: 65%;padding-left: 20%;margin: 0 auto;}
	 .amaz_lfslid{width: 60%;padding-left: 21%;}
	 .amaz_bufhead.info,.amaz_bufhead.Features{width: 96%;}
	 .attribute_head,.amaz_txt{padding-left: 4%;}
	 .Features.title{width: 25%;}
	 .Features.con{width: 60%;}
	 .attribute_end.amaz_txt.spe{width: 40%;}
	 .amaz_txt{font-size: 14px;}
	 .amaz_bufhead.Features{padding-left: 0;}
	 .attribute_head.amaz_txt.spe{/*padding-left: 20%;*/}
	 .pro_spe{padding-left: 15%;}
	 .amaz_auto .amaz_subff{margin: 20px 13px 0px;}
	 .amz_buy_city{margin-bottom: 120px;margin-top: 50px;
}
}

@media only screen and (min-width:640px)and (max-width:768px){
	.amaz_auto .amaz_lrslid .amaz_datimg img{width: 85%;}
	.amaz_lfslid{width: 66%;padding-left: 20%;}
}

@media only screen and (max-width:640px){
	.amaz_auto .amaz_lfslid{width: 90%;padding-left: 5%;}
    .amaz_auto .amaz_lrslid{width: 90%;padding-left: 5%;margin: 0 auto;}
    .attribute_head, .amaz_txt{padding-left: 4%;}
    .Features.title,.Features.con{width: 93%;}
    .amaz_bufhead.info{margin-bottom: 0;}
    .amaz_datbox{padding-top: 8px;}
    .amaz_auto .amaz_lrslid .amaz_datimg img{width:100%;}
    .attribute_end.amaz_txt.spe{width: 58%;}
    .attribute_head.amaz_txt.spe{padding-left: 3%;}
    .amaz_auto .amaz_subff{margin: 14px 13px 0px;}
    .view-content{margin: 14px 0px 40px 0px;}
   .nav_posion{margin: 14px 0px 20px 13px;}
   .pro_spe{padding-left: 0%;}
   .amaz_bufhead.info{padding-left: 3%;}
   .amz_buy_city{margin-bottom: 60px;margin-top: 20px;}
   	.btn_box_buylink{margin-bottom: 30px;}
   	.gods_head{padding-bottom: 20px;}
}
@media only screen and (max-width:320px){
	.tour-preview{margin-right: -3.5%;}
}