@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="refresh" content="4; url='/'" />
    <title>success</title>

    <style type="text/css">
    *,body{font-family:Century Gothic,Arial,MyriadPro-Light,Raleway-Regular, Helvetica Neue,Helvetica,sans-serif;}
   @@font-face{
    font-family: 'CenturyGothic';
    font-weight: normal;
    font-style: normal;
    src: url('../public/font/Century-Gothic/CenturyGothic.eot');
    src: url('../public/font/Century-Gothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../public/font/Century-Gothic/CenturyGothic.woff2') format('woff2'),
    url('../public/font/Century-Gothic/CenturyGothic.woff') format('woff'),
    url('../public/font/Century-Gothic/CenturyGothic.ttf') format('truetype'),
    url('../public/font/Century-Gothic/CenturyGothic.svg#CenturyGothic') format('svg');
}
    a{text-decoration: none;}
    a:hover{color:#00a98d;}
    table{
        margin-top: 10%;
        border:1px solid #acacac;
        box-shadow: 2px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        width:450px;
        text-align: center;
    }
    table th{
        background-color: rgb(0, 169, 141);
        color: #fff;
        font-size: 22px;
        font-weight: normal;
        padding: 10px 30px 10px;

    }
    table td{
        padding: 30px 30px 50px;

    } table td span{
        color: #666;
        margin-bottom: -14px;
        display: block;
    }
    @@media only screen and (max-width:768px){
        table{
            width:80% ;
            margin-top: 6%;
        }

    }
    @@media only screen and (max-width:640px){
        table{
            width:90% ;
        }
        table th{
          padding: 6px 30px 6px;
        }
        table td{
          padding: 14px 8px 45px 8px;
        }

    }
     @@media only screen and (max-width:320px){
        table{
            margin-top: 10%;
        }
    }



    </style>

</head>
<body>
    <table align="center" cellpadding="4" cellspacing="0">
        <tr>
            <th align="center" bgcolor="#00a98d;">success</th>
        </tr>
        <tr>
            <td>
                <br />
                <present name="message" style="color:#00a98d;font-size: 20px;font-weight: bold; ">
                    We got the information successfuly<br />
                </present>
                <present name="error" style="color:#d90b0b;">
                    <br />
                    <br />
                </present>

                <span>4's later will jump！</span>
                <br />

                if no jump please click <a href="/" rel="external nofollow" rel="external nofollow">here</a>&nbsp;to jump
            </td>
        </tr>
    </table>
</body>
</html>